.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cartContainer {
    margin-top: 85px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 82vw;
    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    /* border: 0.5px solid lightgray; */
    border-radius: 5px;
}

.leftCartContainer {
    min-width: 70%;
    min-height: 100vh;
    width: fit-content;
    height: fit-content;
    /* width: 70%;
    height: 100%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red; */
    border-radius: 10px;
}

.rightCartContainer {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    width: 30%;
    height: 100%;
    /* border: 1px solid rgb(0, 255, 17); */
    border-radius: 10px;
    margin-left: 25px;
}

.leftCartContainer .cartNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid yellow; */
    margin-bottom: 10px;
    border-radius: 5px;
}

.leftCartContainer .cartNumber p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font: 500;
    font-size: 18px;
    /* color: #2a55e5; */
    color: black;
    /* margin-bottom: 10px; */
}

.leftCartContainer .cartAddress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
    /* border: 1px solid red; */
    background-color: white;
}

.leftCartContainer .cartAddress div {
    font-weight: bold;
    width: 100px;
    margin-right: 70px;
    /* border: 2px solid yellow; */
}

.leftCartContainer .cartAddress p {
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.productMainCont {
    /* border: 2px solid hotpink; */
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.leftCartContainer .cartItems {
    height: fit-content;
    background-color: white;
    border: 0.5px solid rgb(232, 230, 230);
    height: 210px;
}

.leftCartContainer .cartItems {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.cartItems .productDesc {
    width: 100%;
    height: 200px;
    /* border: 0.5px solid lightgray; */
    display: flex;
    align-items: center;
}

.cartItems .removeFromCart {
    /* border: 1px solid red; */
    padding-left: 155px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.cartItems .removeFromCart:hover {
    color: #2874f0;
    cursor: pointer;
}

.productDesc .productDescImg {
    width: 150px;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDesc .productDescImg img {
    width: 100px;
}

.productDesc .productDescData {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 25px;
    /* border: 1px solid green; */
    height: 150px;
    padding-top: 10px;
    width: 100%;
}

.productDesc .productDescData h3 {
    padding-bottom: 10px;
}

.productDesc .productDescData p {
    color: rgb(101, 100, 100);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.productDesc .productDescData h6 {
    color: #388e3c;
    font-size: 16px;
    font-weight: 500;
}

.rightCartContainer .productDetails {
    width: 90%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}

.rightCartContainer .productDetails>p {
    font-size: 500;
    font-size: 20px;
    color: rgb(132, 130, 130);
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.rightCartContainer .productDetails .horizontalLine {
    opacity: 0.7;
}

.rightCartContainer .productDetails .totalAmount {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightCartContainer .productDetails .totalAmount p {
    font-size: 19px;
    font-weight: 600;
}

.rightCartContainer .productDetails .totalAmount h2 {
    /* border: 1px solid red; */
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightCartContainer .productDetails .extraInfo {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightCartContainer .productDetails .extraInfo>p {
    font-size: 18px;
}

.rightCartContainer .placeOrder {
    /* border: 2px solid red; */
    justify-self: center;
    align-self: center;
    width: 100%;
}

.rightCartContainer .placeOrder .placeOrderBtn {
    font-size: 17px;
    width: 85%;
    align-self: center;
    /* text-transform: none; */
    background-color: #fb641b;
    /* width: 220px; */
    height: 55px;
    margin: 5px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}