.carouselArea {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 9px;
}

.carouselAreaS {
    /* margin-top: 15px;
    margin-left: 9px; */
    /* margin-right: 9px; */
    /* margin-bottom: 9px; */
    /* border: 1px solid limegreen; */
    width: 100%;
    height: 13vh;
}


/* .carouselComp {} */

.carouselAreaS .carouselCompS {
    /* height: 9vh; */
    /* border: 2px solid black; */
}

.carouselCompS img {
    /* width: 400px;
    height: 140px; */
    width: 100%;
    /* height: 120px; */
    height: 13vh;
}

.arrowIndicator {
    color: black;
    background-color: white;
    border: 1px solid red;
    width: 30px;
    height: 60px;
}

.arrowIndicatorS {
    color: black;
    background-color: white;
    border: 1px solid red;
    width: 30px;
    height: 60px;
}