.loginPage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.473);
}

.loginPageS {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.473);
    /* border: 2px solid green; */
}

.loginPage .loginContainer {
    display: flex;
    width: 700px;
    height: 490px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 120px;
    /* border: 2px solid orangered; */
}

.loginPageS .loginContainerS {
    display: flex;
    width: 700px;
    height: 490px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 120px;
    /* border: 2px solid orangered; */
}

.leftLogin {
    background-color: #2874f0;
    width: 40%;
    height: 100%;
}

.leftLoginS {
    background-color: #2874f0;
    width: 30%;
    height: 100%;
}

.leftLogin h2 {
    padding-left: 30px;
    color: white;
    padding-top: 40px;
}

.leftLoginS h2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}

.leftLogin p {
    padding-left: 30px;
    color: white;
    padding-right: 60px;
    font-size: 17px;
    opacity: 0.9;
    padding-top: 20px;
    /* font-weight: 400; */
}

.leftLoginS p {
    padding-left: 5px;
    color: white;
    padding-right: 60px;
    font-size: 11px;
    opacity: 0.9;
    padding-top: 20px;
    /* font-weight: 400; */
    display: none;
}

.leftLogin img {
    padding-top: 120px;
    padding-left: 30px;
}

.leftLoginS img {
    display: none;
}

.rightLogin {
    width: 60%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.rightLoginS {
    width: 70%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.rightLogin div {
    margin-top: 20px;
    width: 80%;
    /* border: 1px solid red; */
}

.rightLoginS div {
    margin-top: 10px;
    width: 80%;
    /* border: 1px solid red; */
}

.rightLogin .rightTextField {
    width: 100%;
    margin-top: 30px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid grey;
}

.rightLoginS .rightTextFieldS {
    width: 100%;
    margin-top: 15px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid grey;
}

.rightLogin .rightTextField::placeholder {
    font-size: 16px;
    color: gray;
}

.rightLoginS .rightTextFieldS::placeholder {
    font-size: 12px;
    color: gray;
}

.rightPartDesc p {
    padding-top: 15px;
    font-size: 10px;
}

.rightPartDescS p {
    padding-top: 7px;
    font-size: 9px;
}

.rightLogin .loginButton {
    background-color: #fb641b;
    text-transform: none;
    width: 80%;
    height: 45px;
    margin: 5px;
    font-weight: bold;
    border-radius: 0;
}

.rightLoginS .loginButtonS {
    background-color: #fb641b;
    text-transform: none;
    width: 80%;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    border-radius: 0;
}

.rightLogin .requestOTP {
    text-transform: none;
    background-color: white;
    color: #2874f0;
    width: 80%;
    height: 45px;
    margin: 5px;
    font-weight: bold;
    border-radius: 0;
}

.rightLoginS .requestOTPS {
    text-transform: none;
    background-color: white;
    color: #2874f0;
    width: 80%;
    height: 30px;
    margin: 5px;
    font-weight: bold;
    border-radius: 0;
}

.rightLogin .loginButton:hover {
    background-color: #fb641b;
}

.rightLoginS .loginButtonS:hover {
    background-color: #fb641b;
}

.rightLogin .requestOTP:hover {
    background-color: white;
}

.rightLoginS .requestOTPS:hover {
    background-color: white;
}

.rightLogin .or {
    font-size: 15px;
    color: gray;
    padding: 10px;
}

.rightLoginS .orS {
    font-size: 10px;
    color: gray;
    padding: 5px;
}

.rightLogin .account {
    color: #2874f0;
    font-size: 14px;
    font-weight: 800;
    margin-top: 75px;
}

.rightLoginS .accountS {
    color: #2874f0;
    font-size: 11px;
    font-weight: 800;
    margin-top: 30px;
}

.closeBtn {
    display: flex;
    justify-content: center;
    /* background-color: rgba(19, 19, 19, 0.288); */
    height: 490px;
    color: white;
    margin-bottom: 120px;
    width: 50px;
}

.closeBtnS {
    display: flex;
    justify-content: center;
    /* background-color: rgba(19, 19, 19, 0.288); */
    height: 490px;
    color: white;
    margin-bottom: 120px;
    width: 25px;
}

.closeBtn:hover {
    cursor: pointer;
}

.closeBtnS:hover {
    cursor: pointer;
}