.mobileContainer {
    margin-top: 65px;
    /* border: 2px solid red; */
}

.mobileContainerSmall {
    width: 100%;
    margin-top: 75px;
    /* border: 2px solid rgb(114, 4, 248); */
    display: flex;
    flex-direction: column;
}

.mobileContainerSmall .smallTop {
    display: flex;
    border: 1px solid lightgrey;
    /* justify-content: space-around; */
    align-items: center;
    height: 5vh;
}

.smallTop .sortArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    /* border: 1px solid green; */
    border-right: 1px solid lightgray;
}

.smallTop .filterArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    /* border: 1px solid green; */
}

.smallDown {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 100%;
}

.rightSectionProductsSmall {
    /* border: 2px solid yellow; */
    /* background-color: rebeccapurple; */
    /* margin-top: 150px; */
    width: 100%;
}

.categorySection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 120px;
    padding-right: 120px; */
    /* margin-top: 80px; */
}

.categoryData {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.categoryTitle {
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: rgba(1, 1, 1, 0.934);
    /* border: 1px solid red; */
}

.mobileGrid {
    display: flex;
    margin-top: 6px;
}

.leftSection {
    background-color: white;
    padding-right: 5px;
    min-height: 100vh;
    width: 20vw;
    margin-right: 6px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.rightSection {
    background-color: white;
    height: fit-content;
    width: 80vw;
}

.rightSectionFilters {
    display: flex;
    align-items: center;
    padding-left: 15px;
    /* padding-bottom: 5px; */
    border-bottom: 0.7px solid rgba(199, 197, 197, 0.509);
    height: 30px;
    /* border: 1px solid black; */
}

.filterName {
    /* margin-right: 15px; */
    padding-right: 15px;
    font-size: 14px;
    /* border: 1px solid red; */
}