@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navBar {
    position: fixed;
    height: 62px;
    width: 100%;
    z-index: 10;
    padding-left: 140px;
    padding-right: 110px;
    background-color: #2874f0;
}

.navBarCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.LogoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.link {
    text-decoration: none;
}

.navBarCont .companyName {
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
}

.navBarCont .plus {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 500;
    font-style: italic;
    margin-top: -5px;
}

.plus span {
    color: #ffe11b;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    width: 570px;
}

.searchBar input::placeholder {
    font-size: 14px;
    /* color: red; */
    opacity: 0.9;
}

.searchInput {
    min-width: 150px;
    width: 550px;
    height: 40px;
    border-radius: 1.5px;
    border: none;
    outline: none;
    padding-left: 12px;
}

#searchIcon {
    font-size: 30px;
}

#loginBtn {
    background-color: white;
    color: #2874f0;
    font-weight: bold;
    width: 120px;
    height: 35px;
    border-radius: 0;
    padding: 10px 0;
    text-transform: none;
    font-size: 16px;
}

.navBarCont .navBarBtn {
    color: white;
    font-weight: 700;
    /* width: 120px;
    height: 35px; */
    border-radius: 0;
    padding: 10px 0;
    text-transform: none;
    font-size: 16px;
}